#barra-topo {
    background-color: #303;
    height: 25px;
}

    #barra-topo li {
        font-size: large;
    }

        #barra-topo li.nome-aplicacao {
            color: #ddd;
            font-variant: small-caps;
            text-transform: uppercase;
            font-weight: bold;
        }

        #barra-topo li.nome-aplicacao:after {
            content: " > ";
        }

    #barra-topo a {
        color: #ddd;
        text-decoration: none;
    }

    #barra-topo a:hover {
        text-decoration: underline;
        background-color: #505;
        color: #3E8AFF !important;
    }

    #barra-topo > ul {
        list-style-type: none;
        margin: 0 auto;
        height: 27px;
    }

        #barra-topo > ul > li {
            display: inline;
            margin-right: 10px;
            line-height: 1.5;    /* forçando o valor pra ficar igual no django-admin */
        }

