{% extends "caixa/base.html" %}
{% load vestat_extras %}

{% block head %}
    <title>Erro!</title>
{% endblock %}

{% block title %}
<h1>Erro!</h1>
{% endblock %}

{% block content %}
<div class="error large">
<p>Houve um erro no programa.</p>

<p>Informe o administrador, e, se possível, anote os
passos que levaram a esse erro.</p>

{% if project_settings %}
<p class="large">Detalhes técnicos do erro encontram-se no arquivo: <pre>{{ project_settings.LOGGING.handlers.file.filename }}</pre></p>
{% endif %}

<p><a href="/">Clique aqui para reiniciar o programa</a></p>
</div>
{% endblock %}
