/* tables */
table {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}

table thead tr th, table tfoot tr th {
    background: none repeat scroll 0 0 #C3D9FF;
	border: 1px solid #;
	padding: 4px;
}

table tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid gray;
}

thead {
    border: 1px solid black !important;
}

tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9 !important;}
