{% extends "relatorios/base.html" %}
{% load vestat_extras %}
{% load i18n %}

{% block content %}

<p>
    <form id="filtro_form">
        {% for field in filter_form %}
            {{ field.label_tag }} {{ field }}
        {% endfor %}
        <input type="submit" value="Filtrar">
        <input type="submit" name="csv" value="Exportar pra CSV">
    </form>
</p>

{% for table in report.tables %}
    <table>
        <colgroup>
        {% for field in table.fields %}
                <col class="{{ field.classes|join:" " }}" />
        {% endfor %}
        </colgroup>
        <thead>
            <tr>
            {% for field in table.fields %}
                        <th>{{ field.header }}</th>
            {% endfor %}
            </tr>
        </thead>
        <thead>
        <tbody>
        {% for row in table %}
                <tr>
            {% for elem in row %}
                    <td>{{ elem|safe }}</td>
            {% endfor %}
                </tr>
        {% endfor %}
        </tbody>
        </thead>
    </table>
{% endfor %}
{% endblock %}
