{% extends "caixa/ver_dia.html" %}

{% block javascript %}
    <script type="text/javascript" src="/m/js/autofocus.js"></script>
    <script type="text/javascript" src="/m/js/jquery.maskMoney.js"></script>
    <script type="text/javascript" src="/m/js/dinheiro.js"></script>
{% endblock %}

{% block form %}
        <form id="adicionar_despesa" class="info" name="adicionar_despesa_form" action="" method="POST">
            <a href="{{ dia.get_absolute_url }}" title="Fechar" class="fechar">x</a>
            <h3>Nova Despesa</h3>
            <span id="valor" class="dinheiro{% if form_despesa.valor.errors %} error{% endif %}">
                {{ form_despesa.valor.label_tag }} {{ form_despesa.valor }}
            </span>
            <span id="categoria"{% if form_despesa.categoria.errors %} class="error"{% endif %}>
                {{ form_despesa.categoria.label_tag }} {{ form_despesa.categoria }}
            </span>
            <input type="submit" name="adicionar_despesa" value="Adicionar" />
        </form>
{% endblock %}
