{% extends "base.html" %}


{% block head %} 
<link rel="stylesheet" type="text/css" href="/m/css/vestat.css" media="screen, projection"/>
<link rel="stylesheet" type="text/css" href="/m/css/barra_topo.css" media="screen, projection"/>
<link rel="stylesheet" type="text/css" href="/m/css/relatorios.css" media="all"/>
{% endblock %}


{% block body %}
    {% include "barra_topo.html" %}

    <div class="container">
        <div class="span-24 title">
            {% block title %}
            <h1>{{ title }}</h1>
                {% if subtitle %}
                    <h2>{{ subtitle }}</h2>
                {% endif %}
            {% endblock title %}
        </div>
    </div>
    <div class="content">
        {% if messages %}
            {% for message in messages %}
                <div class="box{% if message.tags %} {{ message.tags }}{% endif %}">
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </div>
{% endblock body %}
